[Desktop Entry]
Type=Application
Name=Cookutils Doc
Name[fr]=Doc de CookUtils
Name[ru]=Документация CookUtils
Exec=browser file:///usr/share/doc/cookutils/cookutils.html
Icon=text-html
Categories=Documentation;
