/* CSS style for SliTaz Cooker */

body { font: 13px sans-serif, vernada, arial; margin: 0; }
h1 { margin: 0; padding: 8px; color: #fff; font-size: 20px; }
h1 a { color: #fff; text-decoration: none; }
h2 { color: #444; } h3 { color: #666; font-size: 140%; }
a:hover { text-decoration: none; }
pre {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	padding: 10px;
	overflow: auto;
	font-size: 96%;
}

/* Header */

#header {
	background: #351a0a;
	height: 40px;
	border-bottom: 8px solid #d66018;
}

#header h1 {
	margin: 0;
	/* padding: 8px 0 0 42px; */
	width: 250px;
}

#header h1 a { 
	color: white; 
	text-decoration: none;
	font-size: 20px;
	font-style: italic;
}

#header h1 a:hover { 
	color: #d66018;
}

/* Content */

#content {
	margin: 40px 80px;
	text-align: justify;
}

.span-ok { color: green; }
.span-error { color: red; }
.span-sky { color: blue; }
.span-no { color: orange; }
.span-line { color: #888; }
.log-date { color: #666; font-size: 95%; }
.sh-comment { color: #b20000; }
.sh-val { color: #f35a00; }

/* Buttons */

.button {
	padding: 2px 4px;
	cursor: pointer;
	color: #000;
}

a.button, .pctbar  {
	text-decoration: none;
	color: #666;
}

.button:hover {
	background-color: #ddd;
	border: 1px solid #999;
}

.pct { background: #9dff4a; padding: 2px 4px; }

.button, .pctbar {
	margin: 0;
	background: #f1f1f1;
	border: 1px solid #ddd;
}

/* Round corner */

pre, .button, .pctbar {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* Footer */

#footer {
	text-align: center;
	padding: 20px;
	border-top: 1px solid #ddd;
	font-size: 90%;
}

#footer a { padding: 0 2px; }
